<div class="container eighty">
  <header>
    <%= image_tag "header.png", class: "banner" %>
    <h3 class="title sixty">“I believe in goodness, mercy and charity. I believe in casting bread upon the waters.” -Leonard Nimoy</h3>
    <div class="black">
      <nav>
        <%= link_to "Home", root_path, class: "big" %>
        <%= link_to "Home", root_path, class: "small" %>
        <%= link_to "Golf Tournament", golf_index_path, class: "big" %>
        <%= link_to "Golf", golf_index_path, class: "small" %>
        <%= link_to "Dinner and Movie Preview", movie_index_path, class: "big" %>
        <%= link_to "Movie", movie_index_path, class: "small" %>
        <%= link_to "About", about_index_path, class: "big active" %>
        <%= link_to "About", about_index_path, class: "small" %>
        <%= link_to "Contact Us", contact_index_path, class: "big" %>
        <%= link_to "Contact", contact_index_path, class: "small" %>
      </nav>
    </div>
  </header>
  <div class="section">
    <h1 class="title eighty">About the Charities</h1>
    <h3 class="charity"><%= link_to "Shakti Warriors", "http://www.shaktiwarriors.com", target: "blank"%></h3>
    <p>The Shakti Warriors are an after school program dedicated to social and emotional learning.  By encouraging kids to be healthy, thoughtful and kind to others in their community, they hope to show that anyone can be a "super hero".</p>
    <h3 class="charity"><%= link_to "American Foundation for the Blind", "http://afb.org", target: "blank" %></h3>
    <p>For nearly 100 years the American Federation of the Blind has been working to enable access, promote and deliver technological solutions, collaborate with the vision loss community, and provide resources that inform and enlighten.</p>
    <p>By removing technological and systemic barriers that prevent people with vision loss from fully participating in all aspects of society, they are leveling the playing field and creating an inclusive society that values all of our abilities.</p>
    <h1 class="title eighty">Event Information</h1>
    <p>To learn more about the individual events, please check visit their respective event pages.</p>
    <p><%= link_to "Dinner and Movie", "https://www.universe.com/events/star-trek-beyond-charity-dinner-and-movie-preview-tickets-S50W1B", target: "blank" %></p>
    <p><%= link_to "Golf Tournament", "https://www.universe.com/events/star-fleet-celebrity-charity-golf-tournament-tickets-goodings-grove-R0Q8ND", target: "blank" %></p>
    <p>For all other questions, feel free to <%= link_to "Contact Us", contact_index_path %> and we'll get back to you quicker than Worf gets a terrible idea shot down.</p>
  </div>
  <footer>
    <%= link_to "Made by nick-brown-dev.com", "http://nick-brown-dev.com", target: "blank" %>
    <p>Copyright 2016</p>
  </footer>
</div>